@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mycontainer{@apply container px-40 py-16 mx-auto;}
    .input-box{
        @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded-lg mb-3 outline-none hover:bg-slate-700;
    }
    .btn-primary{
        @apply w-[150px] text-sm bg-blue-500 text-white p-3 rounded-lg items-center hover:bg-blue-600;
    }
    .scrollbar-hidden::-webkit-scrollbar {
        @apply w-0 h-0
      }
    
}
@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        background-color: #1e293b
        ;
        overflow-x: hidden;
    }
}
.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
  }